@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,600;1,700&family=Prompt:wght@100;200;400;500&family=Readex+Pro&family=Roboto:wght@100;400;500;700&display=swap");

* {
  color: white;
  background-color: #141414;
  font-family: "Lora", serif;
  font-family: "Prompt", sans-serif;
  font-family: "Readex Pro", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: small;
  margin: 1em;
  padding: 3px solid;
}

input {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 10em;
  text-align: center;
  outline: 0;
}
input:hover {
  box-shadow: 1px 1px 3px 3px white;
}
.search {
  color: royalblue;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
}
.nav {
  display: grid;
  grid-template-columns: 10fr 1fr;
  color: white;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}
.poster {
  width: 15em;
  height: 22em;
  border: 2px solid royalblue;
  box-shadow: 1px 1px 3px 3px white;
}

.card {
  border: 2px solid royalblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: fit-content;
  min-width: fit-content;
  height: auto;
  width: auto;
}
.info {
  margin: 1em 0em;
  text-align: left;
  list-style: circle;
}
.header {
  margin: 2em 10em;
  padding: 0.8em 4em;
  font-weight: bold;
  box-shadow: 1px 1px 6px 6px whitesmoke;
  border: 2px solid royalblue;
  border-radius: 2em;
}

.title {
  color: yellow;
}
.heading {
  color: white;
  font-size: 1.8em;
  margin: 1em 2em;
  text-align: center;
}
.tag {
  font-weight: lighter;
  color: orange;
  text-align: center;
}
.amount {
  color: hsla(120, 80%, 50%, 1);
}
.container1 {
  border: 2px solid white;
  margin: 1em 1em;
  padding: 0 3.5em;
  border-radius: 10em;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  min-width: fit-content;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
